default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: spreeapp_development

test:
  <<: *default
  database: spreeapp_test

production:
  <<: *default
  database: spreeapp_production
  username: spreeapp
  password: <%= ENV['SPREEAPP_DATABASE_PASSWORD'] %>
